.card{
    width: 40%;
    height: 200px;
    border: 3px solid gray;

    margin-top: 50px;
}

.card:hover{
    transform: scale(1.05);
}

.flipped{
    background: grey;
}
.opened{
    background: greenyellow;
}